

.grillaCompleta {
    border: rgb(red, green, blue);
}
 
#Tablero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#Tablero .grillaCompleta{
    background-color: grey;
    display: block;
    max-width: 10%;
    box-shadow: 1px 1px 1px 1px #fff;
    text-align: center;
    height: 63px;
    margin: auto;
    width: 100vw;
}